VITE_SUPABASE_URL=https://khryuvmashcqwsuhhsdd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtocnl1dm1hc2hjcXdzdWhoc2RkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3MDI1MzgsImV4cCI6MjA4MDI3ODUzOH0.QF5epsQKNHgMUM_KuZhuTNcNTnNP0jXM2r-Ke27GDPE
